*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    


}

body {
    background-color:  darkblue;;
    height: 100vh;
}

.interface {
    padding: 20px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-desktop ul { /*precisamos adicionar o ul para que alteremos a lista*/
    list-style-type: none;

    padding: 0;
    border: 20px solid aliceblue;
    border-radius: 40px;
    display: flex;
    gap: 40px;
    background-color: aliceblue;
        
    font-family: "Bitcount Single", system-ui;
}   



header a{
    color: rgb(92, 92, 92);
    text-decoration: none;
    cursor: pointer;
}

header .btn-contato button {
    padding: 20px 40px;
    font-size: 15px;
    font-weight: 700;
    background-color: aliceblue;
    border: 0;
    border-radius: 40px;
    font-family: "Bitcount Single", system-ui;
    cursor: pointer;
}